name: Publish Docs Site

on:
  push:
    branches: [ master ]

jobs:
  gh-pages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
          cache-dependency-path: site/yarn.lock
      - run: yarn --cwd site --frozen-lockfile
      - run: yarn --cwd site build
      - run: touch site/out/.nojekyll
      - name: Publish to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site/out
